@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Gestión de empleados</h1>
    <p class="lead">Aplicacion de gestión de empleados</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Info</h2>
        <p class="text-justify">
            Aplicación Web realizada en el marco de la materia
            'Programación de Aplicaciones Distribuidas', como proyecto final de
            la misma. El sistema se centra en la gestión de empleados
            de una empresa extranjera, siendo capaz de comunicarse con una API 
            para obtener el valor del dolar actualizado, para luego visualizar los salarios en pesos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <ul>
            <li>guilloalonsot@gmail.com</li>
            <li>01marialuz@gmail.com</li>
            <li>morealincastro123@gmail.com</li>
        </ul>
    </div>
</div>